
*.zip
*.obj
*.blend
*.blend1
rlc/poses/*
rlc/models/*
rlc/skinned/*
rlc/outfits/*
rlc/textures/*
rlc/snapshots/*
rlc/animations/*
rlc/RLC_SDK_HFBody_v6.json
rlc/RLC_SDK_HFHairs_v6.json
rlc/RLC_SDK_HFTshirt_v6.json
rlc/RLC_SDK_HFSkeleton_v6.json
rlc/RLC-Female-Skeleton-v1.json
rlc/RLC-Female-Skeleton-v4.json
rlc/RLC_SDK_HFFrillyDress_v6.json
rlc/RLC_SDK_HFFrillySkirt0_v6.json
rlc/RLC_SDK_HFFrillySkirt1_v6.json
rlc/RLC_SDK_HFFrillySkirt2_v6.json
rlc/skinned/RLCFemaleRiggedBody_v06.json
rlc/export-app-test-v1.3.5.json
RLCFemaleDeveloperKit_v0.1.json
