
*.zip
*.obj
*.blend
*.blend1
rlc/poses/*
rlc/animations/*
rlc/textures/*
rlc/models/*
rlc/skinned/*
rlc/snapshots/*
rlc/RLC-Female-Skeleton-v1.json
rlc/skinned/RLCFemaleRiggedBody_v06.json
rlc/RLC-Female-Skeleton-v4.json
