
*.zip
*.obj
*.blend
*.blend1
rlc/apps/*
rlc/poses/*
rlc/models/*
rlc/skinned/*
rlc/textures/*
rlc/snapshots/*
rlc/animations/*
rlc/RLC_SDK_HFBody_v6.json
rlc/RLC_SDK_HFHairs_v6.json
rlc/RLC_SDK_HFTshirt_v6.json
rlc/RLC_SDK_HFSkeleton_v6.json
rlc/RLC-Female-Skeleton-v1.json
rlc/RLC-Female-Skeleton-v4.json
rlc/RLC_SDK_HFFrillyDress_v6.json
rlc/RLC_SDK_HFFrillySkirt0_v6.json
rlc/RLC_SDK_HFFrillySkirt1_v6.json
rlc/RLC_SDK_HFFrillySkirt2_v6.json
rlc/outfits/RLC_SDK_HFFrillyDress_v6/*
rlc/skinned/RLCFemaleRiggedBody_v06.json
rlc/export-app-test-v1.3.5.json
RLCFemaleDeveloperKit_v0.1.json
rlc/app_v1.json
rlc/RLC_SDK_HF_Body_v6.json
rlc/RLC_SDK_HF_FrillyDress_v6.json
rlc/RLC_SDK_HF_FrillySkirt0_v6.json
rlc/RLC_SDK_HF_FrillySkirt1_v6.json
rlc/RLC_SDK_HF_FrillySkirt2_v6.json
rlc/RLC_SDK_HF_Hairs_v6.json
rlc/RLC_SDK_HF_Skeleton_v6.json
rlc/RLC_SDK_HF_Tshirt_v6.json
rlc/app1.0.json
rlc/app1.1.json
rlc/app1.2.json
rlc/app1.3.json
rlc/app1.4.json
rlc/app1.5.json
